/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header'
        'sidebar main image'
        'footer footer footer';
    grid-gap: 10px;
}

.header, .sidebar, .main-content, .image-container, .footer {
    padding: 20px;
    background-color: #f0f0f0;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main-content {
    grid-area: main;
}

.image-container {
    grid-area: image;
    text-align: center;
}

.footer {
    grid-area: footer;
}
