body {
    background-color: beige;
}

.car-race {
    width: 400px;
    background-color: white;
}

#car-race-id {  
    width: 295px;               
    padding: 50px;    
    border-color: black;
    border-style: dotted;           
}

.active-point-zero {
    color: black; 
    background-color: white;  
    transition: background-color .5s ease-in-out;  
}

.active-point-four {
    color: white; 
    background-color: black;
    transition: background-color .5s ease-in-out;
}


#btn-1 {
    width: 400px;
    height: 50px;

    font-size: 30px;
    font-weight: 600;

    background-color: beige;
}

#keyboard {
    width: 50px;
    height: 50px;

    font-size: 30px;
    font-weight: 600;

    background-color: beige;
}




/* #border1 {
    width: 20px;
    height: 20px;
    background-color: beige;
    padding: 1px;
    border-style: groove;
}
#border2 {
    width: 20px;
    height: 20px;
    background-color: beige;
    padding: 1px;
    border-style: groove;
} */